@import "@/Sass/_variables.scss";

@mixin buttonStyle($type) {
    border-radius: 10px;
    padding: 12px 8px;
    font-size: 1.2rem;
    font-family: $font-raleway;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;

    @if $type =="primary" {
        color: black;
        background-color: $yellow;
        border: none;

        &:hover {
            opacity: 1.2;
            transition: all 0.3s ease-in-out;
        }
    }

    @else if $type =="secondary" {
        color: $yellow;
        background-color: transparent;
        border: 2px solid $yellow;

        &:hover {
            opacity: 1.2;
            transition: all 0.3s ease-in-out;
        }
    }
}