@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font: "Roboto", sans-serif;

$white: #F7F7F7;

$black: #0F0F0F;

$yellow: #FCA90D;

$purple: #270039;

$dark-gray: #0A0A0A;

$gray: #292929;

$green: #18F27E;