@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

//Raleway, Roboto, Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-raleway: "Raleway", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-monterrat: "Montserrat", sans-serif;

$white: #F7F7F7;

$black: #0F0F0F;

$yellow: #FCA90D;

$purple: #270039;

$dark-gray: #0A0A0A;

$gray: #292929;

$light-gray: #D9D9D9;

$green: #18F27E;