@import "@/Sass/app.scss";

#navbar-container {
    justify-content: space-between;
    padding: 1rem 5rem;
    box-sizing: border-box;
}

#simple-navbar-container {
    justify-content: space-between;
    padding: 0rem 4rem;
    box-sizing: border-box;
}