@import "@/Sass/app.scss";

footer {
    .footer-gradient {
        height: 40px;
        width: 100%;
        background: linear-gradient(90deg, #FFFFFF -0.35%, #F2A10C -0.34%, #3B1A47 100%);
    }
}