@import "@/Sass/app.scss";


#acessibility-container {
    display: flex;
    background-color: $white;
    justify-content: flex-end;
    padding: 0.75rem 5rem;

    background-color: $black;

    #box {
        display: flex;

        img {
            background-color: $white;
            padding: 0.08em;
            width: 1.25em;
            margin-left: 0.5em;
        }
    }
}